#(project
  (#(meta
     (#(name laotzi-demo)
      #(description "An LFE Demo of the Ten Thousand Things.")
      #(version "0.0.2")
      #(keywords ("LFE" "Lisp" "Demo" "HTTP" "D3" "JavaScript" "Processes" "Web"))
      #(maintainers
        ((#(name "Duncan McGreggor") #(email "oubiwann@gmail.com"))))
      #(repos (#(github "oubiwann/laotzi-demo")))))))

#(barista
  (#(httpd-conf
     (;; mandatory
      #(port 5099)
      #(server-name "laotzi-demo")
      #(server-root "./")
      #(docroot "www")
      ;; communication properties
      #(host "localhost")
      ;; administrative properties
      #(mime-types (#("html" "text/html")
                    #("css" "text/css")
                    #("js" "application/javascript")
                    #("json" "application/javascript")))
      ;; URL aliasing properties
      #(index-files ("index.html"))
      ;; log properties
      #(log-dir "log")
      #(error-log "errors.log")
      #(access-log "access.log")))))
